.main-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav-list li {
  margin-top: 4px;
}

.main-nav-list li:first-child {
  margin-top: 0;
}

.main-nav-list a,
.navbar-login a {
  text-decoration: none;
}

.main-nav-list a:hover,
.navbar-login a:hover {
  text-decoration: underline;
}

@media (min-width: 1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}